@model Application_Core.Models.MovieDetailsModel

<div class="container-fluid" style="margin:0px">
    <div class="row" style="background-image:url(@Model.BackdropUrl)">
        <div class="col-4"> 
            <img src = "@Model.PosterUrl" class="float-end" >
        </div>
        <div class="col-4" style="color:white">
            <div class="row">
                <p class="text-start fw-bolder mb-2" style="font-size:25px; font-style:">
                    @Model.Title
                </p>
            </div>
            <div class="row">
                    <p class="text-start mb-2" style="font-size:6px">
                        @Model.Tagline
                    </p>
            </div>            
            <div class="row">
                <div class="col-4">
                    <p class="text-start mb-2" style="font-size:10px">
                        @Model.RunTime m| @Model.ReleaseDate.Value.ToString("yyyy")
                    </p>
                </div>
                <div class="col-8" style="font-size:8px">
                    <ul class="list-inline">
                    @foreach(var Genre in Model.Genres)
                    {
                       <li class="list-inline-item" style="background-color:gray; border-radius:5px; padding:2px; margin-right:3px">@Genre.Name</li> 
                    }
                    </ul>
                </div>
            </div>
            <div class="row">
                <p><span class="badge bg-success">@Model.Rating</span></p>
            </div>
            <div>
                    <p class="text-start mb-2" style="font-size:10px">
                        @Model.Overview
                    </p>
            </div>
            
        </div>
        <div class="col-4 " >
            <a href="#" class="btn btn-outline-light mt-3 me-2"
            style="border-color:white;width: 200px;height: 25px;font-size: 15px; padding:0px; position:relative; left:200px; top:80px" role="button" 
            data-bs-toggle="button">Review</a>
            <br />
            <a href="#" class="btn btn-light mt-3 me-2" role="button" data-bs-toggle="button" 
            style="color : black; width: 200px;height: 25px;font-size: 15px; padding:0px; position:relative; left:200px; top:80px" >Buy @Model.Price</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <p>
                    MOVIE FACTS
                </p>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Released Date <span class="badge rounded-pill bg-secondary">@Model.ReleaseDate.Value.ToString("MMMM dd, yyyy")</span></li>
                  <li class="list-group-item">Run Time <span class="badge rounded-pill bg-secondary">@Model.RunTime</span></li>
                  <li class="list-group-item">Box Office <span class="badge rounded-pill bg-secondary">@Model.Revenue</span></li>
                  <li class="list-group-item">Budget <span class="badge rounded-pill bg-secondary">@Model.Budget</span></li>
                  <li class="list-group-item"></li>
                </ul>
            </div>
            <div class="row">
                <p>
                    TRAILERS
                </p>
                <ul class="list-group list-group-flush">
                    @foreach(var trailer in Model.Trailers)
                    {
                        <a href="@trailer.TrailerUrl" class="list-group-item list-group-item-action">@trailer.Name</a>
                    }

                </ul>
            </div>
        </div>
        <div class="col-8">
            <p>
                MOVIE FACTS
            </p>
            @foreach(var cast in Model.Casts)
            {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item col-2 border-start-0 border-end-0"><img src="@cast.ProfilePath" style="border-radius:50%; height:50px; width:50px" /></li>
                    <li class="list-group-item col-5 border-start-0 border-end-0">@cast.Name</li>
                    <li class="list-group-item col-5 border-start-0 border-end-0">@cast.Character</li>
                </ul>
            }
        </div>
    </div>
</div>
